<div class="container full-width">
  <article id="post-2869" class="sixteen columns post-2869 page type-page status-publish hentry">
    <div class="submit-page air-card">

<%= form_for(feedback) do |f| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset class="form fieldset">
      <%= f.label :feedback, 'Feed Back', :class => 'form-label' %>
      <div class="field required-field">
        <%= f.text_area :feedback, :class => 'form-control bg-white form-control-has-validation search-box', :required => true, rows: 15 %>
      </div>
      <%= @feedback.errors[:feedback].join(", ") %>
    </fieldset>

          <%= f.hidden_field :givento, value: params[:givento] %>
          <%= f.hidden_field :givenby, value: params[:givenby] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    </div>
  </article>
</div>