<div class="container full-width">
  <article id="post-2869" class="sixteen columns post-2869 page type-page status-publish hentry">
    <div class="submit-page">
      <%= form_for(user) do |f| %>
          <% if user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>

                <ul>
                  <% user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>


          <div class="field form-group  has-feedback <%= 'has-error' if @user.errors[:email].any? %>">
            <%= f.label :username, :class => 'form-label' %>
            <%= f.text_field :username, :class => 'form-control bg-white form-control-has-validation', :required => true %>
            <%= @user.errors[:username].join(', ') %>
          </div>

          <div class="form-group field  has-feedback <%= 'has-error' if @user.errors[:email].any? %>">
            <%= f.label :email, :class => 'form-label' %>
            <%= f.text_field :email, :class => 'form-control bg-white form-control-has-validation', :required => true %>
            <%= @user.errors[:email].join(', ') %>
          </div>

          <div class="form-group field has-feedback <%= 'has-error' if @user.errors[:password].any? %>">
            <%= f.label :password, :class => 'form-label' %>
            <%= f.password_field :password, :class => 'form-control bg-white form-control-has-validation', :required => true %>
            <%= @user.errors[:password].join(', ') %>
          </div>

          <div class="form-group field has-feedback <%= 'has-error' if @user.errors[:confirmation].any? %>">
            <%= f.label :confirmation, :class => 'form-label' %>
            <%= f.password_field :confirmation, :class => 'form-control bg-white form-control-has-validation', :required => true %>
            <%= @user.errors[:confirmation].join(', ') %>
          </div>



          <div class="actions">
            <%= f.submit %>
          </div>
      <% end %>
    </div>
  </article>
</div>