<div id="titlebar" class="single submit-page photographer-title">
  <div class="container">

    <div class="sixteen columns">
      <h1><i class="fa fa-h-square fa-1x" style="color:white"></i> Direct your Career Imporvement</h1>
    </div>

  </div>
</div>

<section style="background-color: white;">
  <div class="container">
    <div class="section-title row">


      <h2>Companies</h2>
      <p>These great companies were hiring at the Festival</p>
      <p>Every type of company will participate in the event to reflect the entire spectrum of the European market: from
        young startups to SMEs and big-name companies </p>
    </div>
    <!-- <div class="row">
       <div class="sponsor-slider slick-slider">
         <div aria-live="polite" class="slick-list draggable" style="padding: 0px 30px;">
           <div class="slick-track" role="listbox" style="opacity: 1; width: 17280px; transform: translate3d(-1800px, 0px, 0px);">

             <div class="slick-slide" data-slick-index="0" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-wedo_color-1.png" alt="WeDo Technologies" class="img-responsive center-block">
             </div>
             <div class="slick-slide "  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-signicat.png" alt="Signicat" class="img-responsive center-block">
             </div>
             <div class="slick-slide "style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-aptoide_color-1.png" alt="Aptoide" class="img-responsive center-block">
             </div>
             <div class="slick-slide "  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-farfetch_color-258x69.png" alt="Farfetch" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-typeform_color-1.png" alt="Typeform" class="img-responsive center-block">
             </div>
             <div class="slick-slide"style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-outsystems_color-1.png" alt="Outsystems" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-hitachi_black-258x69.png" alt="Hitachi Consulting" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-feedzai_color-1.png" alt="Feedzai" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-cgi_color-1.png" alt="CGI" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-sky_color-1.png" alt="Sky" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-premiumminds_color.png" alt="Premium Minds" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-edit.png" alt="EDIT" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-subvisual_color-1-258x69.png" alt="Subvisual" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-marfeel_color-1.png" alt="Marfeel" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-smartbox_black-258x69.png" alt="Smartbox" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-uniplaces.png" alt="Uniplaces" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-sas_color-1.png" alt="SAS" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-mobilityhouse_color-1.png" alt="The Mobility House" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-schibsted_color-258x69.png" alt="Schibsted" class="img-responsive center-block">
             </div>
             <div class="slick-slide" style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-capgemini_color-258x69.png" alt="Capgemini" class="img-responsive center-block">
             </div>
             <div class="slick-slide"  style="width: 360px;">
               <img src="https://festival.landing.jobs/wp-content/uploads/sites/2/2016/05/company-whitesmith.png" alt="Whitesmith" class="img-responsive center-block">
             </div>
               </div>

           </div>
         </div>

       </div>
     </div>-->

    <div class="row">
      <div class="sponsor-slider" id="sponsor-slider">
        <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>

        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-blip_color-258x69.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-repositive_color-1.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-tekever_color-258x69.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-everis.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-binderconsulting_color.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-fixeads_color.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-kpmg_color-258x69.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-onfido_color-1-258x69.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-saphety_color-1.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-eyenov_color-258x69.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-chickbychoice_color-258x69.png", class: "img-responsive center-block" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-whitesmith.png", class: "img-responsive center-block" %></div>


        <div class="slick-slide" style="width: 360px; height:100px;"><%= image_tag "companies/company-farfetch_color-258x69.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-wedo_color-1.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-zalando_color-1.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-redlightsoftware.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-panalpina-258x60.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-bliss_black-258x69.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-aptoide_color-1.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-aptoide_color-1.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-signicat.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-hoko_color-1.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-deloitte_color-258x69.png" %></div>
        <div class="slick-slide" style="width: 360px;height:100px;"><%= image_tag "companies/company-novabase_color.png" %></div>

        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Previous" role="button" style="display: block;">Next</button>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      var $carousel = $('.sponsor-slider');
      $carousel.slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1000,
      });

    });
  </script>
</section>


<section class="highlight our-stats" id="stats-counter">
  <div class="container">

    <div class="section-title row">
      <h2 class="countdown_title text-center">Current Statistics Information</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="stats-info">
          <i class="fa fa-user fa-4x" style="color:teal;"></i>
          <h2><span class="count" data-from="0" data-to="1700" data-speed="1000">1700</span></h2>
          <p>Attendees</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="stats-info">
          <i class="fa fa-building fa-4x" style="color:teal;"></i>
          <h2><span class="count" data-from="0" data-to="60" data-speed="1000">60</span></h2>
          <p>Companies</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="stats-info">
          <i class="fa fa-calendar fa-4x" style="color:teal;"></i>
          <h2><span class="count" data-from="0" data-to="70" data-speed="1000">70</span></h2>
          <p>Sponsors &amp; Partners</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="stats-info">
          <i class="fa fa-microphone fa-4x" style="color:teal;"></i>
          <h2><span class="count" data-from="0" data-to="30" data-speed="1000">30</span></h2>
          <p>Speakers</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section style="background-color: white">
  <div class="container">

    <div class="section-title row">
      <h2 class="countdown_title text-center">How This magic Happen?</h2>
    </div>

    <div class="row">

        <div class="col-md-4">
          <div class="ld-step-image">
            <img src="https://d1uxgic6sz1xze.cloudfront.net/cms-assets/files/155/original/create-profile.svg">
          </div>
          <h2>
            Create your profile
          </h2>
          <p>
            Showcase yourself, engage with great companies, and share job offers with your network. Your data stays private.
          </p>
        </div>

      <div class="col-md-4">
          <div class="ld-step-image">
            <img src="https://d1uxgic6sz1xze.cloudfront.net/cms-assets/files/153/original/apply-job.svg">
          </div>
          <h2>
            Apply for a job
          </h2>
          <p>
            Find your fit from our list of curated job offers. Ask for a recommendation to increase your chances of landing a job.
          </p>
        </div>

      <div class="col-md-4">
          <div class="ld-step-image">
            <img src="https://d1uxgic6sz1xze.cloudfront.net/cms-assets/files/156/original/landing.svg">
          </div>
          <h2>
            Successful landing
          </h2>
          <p>
            We're placing amazing candidates in awesome companies. Join them and score a hiring bonus.
          </p>
        </div>

    </div>

  </div>
  </section>